JPG_VinMini
Mini_test
Mini_train
VinMini
breast-level_annotations.csv
finding_annotations.csv
logs.log
metadata.csv
vindr-mammo-a-large-scale-benchmark-dataset-for-computer-aided-detection-and-diagnosis-in-full-field-digital-mammography-1.0.0 (1).zip
